body{
    background-color: rgb(53, 58, 58);
    
}
h1, footer, div,span{
    color: rgb(231, 246, 248);
    text-align: center;
    font: sans-serif;  
}
#game{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);   
    background-color: rgb(34, 36, 36);
}
@media screen and (min-width:400px) {
    #btn
    {
        position: absolute;
        bottom: 10%;
        left: 50%;
        transform: translate(-50%, 0%);  
    }  
    .click{
        width: 90px;
    }
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
}

#btn{
    position: absolute;
    bottom: 10%;   
}


.click{
    background-color: #56aa59; 
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    font-weight: 550;
    margin: 4px 2px;
    cursor: pointer;
}
.click:focus{
    outline: none;
}
.click:active{
    background-color: #3e8e41;
    transform: translateY(2px);
}

footer{
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translate(-50%, 0%);  
}